@use 'variables' as *;
@use 'functions';

html,
body {
  padding: 0;
  margin: 0;
}

mark {
  color: $background;
  background: $primary-color;
}

#app {
  height: 100vh;
}

#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 24px;
  > .MuiTypography-root {
    z-index: 10;
    position: absolute;
    top: 6px;
    left: 30px;
    padding: 4px 8px;
    font-size: 0.8rem;
    border: 1px solid $secondary-color;
    border-radius: 8px;
    background: $background;
  }
  background-image: linear-gradient(
    to bottom,
    $secondary-variant 0%,
    colorOpacity($secondary-variant, aa) 40px,
    transparent 100%
  );
}

#contents {
  position: relative;
  padding: 54px 32px 38px;
  background: $secondary-variant;

  .paper-box {
    position: relative;
    background: transparent;
    box-shadow: none;
    > .MuiTypography-subtitle1 {
      font-weight: 600;
      font-size: 3rem;
    }
  }
}
